@charset 'utf-8';

$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;

@import '../../node_modules/spectre.css/src/spectre.scss';

.mb-2r {
  margin-bottom: 2rem;
}

.json-input {
  height: 12rem;
}

.warning-box {
  border: 1px solid $error-color;
  padding: 2rem;
}

.item-box {
  border: 1px solid $border-color-light;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.label-required-marker {
  color: $error-color;
  font-weight: bold;
}
