@charset 'utf-8';

@import './fonts.scss';

$base-font-family: 'Nunito Sans', Oxygen, Ubuntu, Cantarell, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
$primary-color: #7E8D85;

@import '../../node_modules/spectre.css/src/spectre.scss';

.mb-2r {
  margin-bottom: 2rem;
}

.json-input {
  height: 12rem;
}

.warning-box {
  border: 1px solid $error-color;
  padding: 2rem;
}

.item-box {
  border: 1px solid $border-color-light;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.label-required-marker {
  color: $error-color;
  font-weight: bold;
}

.empty-item {
  height: 100%;
  min-height: 224px;
}

.empty-item .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-item svg {
  vertical-align: middle;
}

.empty-item .btn-action {
  width: fit-content;
  height:fit-content;
}
